h1{
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-top: 40px;
}

p{
  font-weight: bold;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  font-size: 20.3px;
  margin: 20px;
}

h2{
  font-weight: bold;
  font-family: 'Faster One', cursive;
  text-align: left;
  font-size: 50px;
  margin: 15px;
}

.contact{
  text-align: right;
}

.column {
  border: 2px solid tan;
  padding: 5px;
  margin: 25px;
}

p.lead{
  font-weight: bold;
  font-family: 'Germania One', cursive;
  text-align: center;
}

p.project{
  text-align: left;
  font-weight: bold;
}

img {
  width: 40%;
  height: 40%;
  float: left;
  margin: 15px;
  margin-left: 20px
}

body  {
  background-image: url("https://img.bhs4.com/c7/0/c7063dfee8b7e80b5cf8d7fc761259ece8d2804c_large.jpg");
  background-color: #cccccc;
  background-size: cover;
}
